.signUp_rootDiv {
    width: 100%;
}

form.flexContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    margin-left: 1rem;
}

a{
    text-decoration: none;
    color: grey;
}

a:hover{
    color: black;
}

.mini_container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}